.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__ico {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
